<!DOCTYPE html>
<html>
@@include('./part/head.html')
<title>新闻资讯</title>
<!-- build:css css/news.css -->
<link rel="stylesheet" type="text/css" href="./css/news.css">
<!-- endbuild -->
<body class="news">
	@@include('./part/header.html')

	<div class="banner banner-news"></div>

	<div class="container" v-cloak>
		<div class="container-left">
			<div @click="goPage(item)" v-for="item in newsData" class="news-block">
				<img :src="item.img" alt="">
				<div class="news-block-info">
					<p>{{ item.name }}</p>
					<span>{{ item.time }}</span>
				</div>
			</div>

			<div id="page" class="page_div"></div>
		</div>

		<div class="container-right">
			<div class="news-flash">
				<div class="news-flash-header">
					<h3>大象快讯</h3>
				</div>

				<div class="news-flash-content">
					<ul>
						<li v-for="item in newsFlashData" :key="item.id">
							<a :href="item.href" target="_blank">{{ item.name }}</a>
						</li>
					</ul>

					<div @click="getNewsFlash" class="change">换一换</div>
				</div>
			</div>
		</div>
	</div>

	@@include('./part/footer.html')
	
	@@include('./part/foot.html')

<script>
	(function(){
		var vm = new Vue({
		  el: '.container',
		  data () {
		  	return {
		  		newsData: [
		  			// {
		  			// 	img: '',
		  			// 	id: '',
		  			// 	href: '',
		  			// 	time: ''
		  			// }
		  		],
		  		newsFlashData: [
		  			// {
		  			// 	name: "肿瘤防治宣传周：科学抗癌",
		  			// 	href: "",
		  			// 	id: 1
		  			// }
		  		]
		  	}
		  },
		  mounted () {
		  	this.fetchData(1);
		  },
		  methods: {
		  	fetchData (num) {
		  		let _this = this;
		  		this.getNewsFlash();
		  		$.ajax({
				    url: apiUrl + "newslist",
				    type: "POST",
				    data: {
				    	page: num,
				    	rows: 10
				    },
				    dataType: 'json',
				    success: function(e) {
				    	if(e.code == 1){
				    		_this.newsData = e.data.records.map(function(item, index) {
				    			return {
		  							id: item.id,
					  				img: imgUrl + item.titleImgPath,
					  				name: item.title,
					  				href: item.linkAdress
			  					}
				    		});

				    		_this.initPage(1, e.data.total);
			  			} else {
			  				alert(e.msg)
			  			}
				    },
				    error: function(jqXHR, textStatus, errorMsg){
			        // alert("请求失败：" + errorMsg);
				    }
					});
		  	},
		  	initPage(pageNo, totalSize) {
		  		let _this = this,
		  				totalPage = parseInt(totalSize/15) + 1;
		  		if(totalSize >= 10) {
			  		$("#page").paging({
							pageNo: pageNo,
							totalPage: totalPage,
							totalSize: totalSize,
							callback: function(num) {
								// alert(num)
								_this.fetchData(num);
							}
						})
		  		}
		  	},
		  	getNewsFlash () {
		  		let _this = this;
		  		$.ajax({
				    url: apiUrl + "hotnewslist",
				    type: "POST",
				    dataType: 'json',
				    success: function(e) {
				    	if(e.code == 1){
				    		if(e.data.length > 0) {
				    			_this.newsFlashData = e.data.map(function(item, index) {
				    				return {
						  				name: item.title,
						  				href: item.linkAdress,
						  				id: item.id
						  			}
				    			});
				    		}
			  			} else {
			  				alert(e.msg)
			  			}
				    },
				    error: function(jqXHR, textStatus, errorMsg){
			        // alert("请求失败：" + errorMsg);
				    }
					});
		  	},
		  	goPage (data) {
		  		window.open(data.href);
		  	}
		  }
		});
	})();
</script>
</body>
</html>