// 底部
@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.footer {

}

.footer-bg {
	width: 100%;
	height: 162px;
	background: url(../img/footer/bg.png) no-repeat;
	// background-color: #f8f9fb;
	background-size: auto 100%;
	background-position: center;
}

.footer-content {
	background-color: #1b2024;
}

.footer-info {
	@extend %clearfix;
	width: $minW;
	line-height: 2;
	margin: 0 auto;
	padding: 50px 0 80px;
	color: #fff;
	font-size: 14px;
}

.footer-logo {
	float: left;
	width: 340px;

	img {
		margin-bottom: 10px;
	}

	p {
		color: #8c9196;
	}

	.tel {
		position: relative;
    padding-left: 25px;
		color: #fff;

		&:before {
			content: "";
	    position: absolute;
	    left: 0;
	    top: 50%;
	    margin-top: -10px;
	    width: 20px;
	    height: 20px;
	    background: url(../img/header/tel.png) no-repeat;
	    background-size: 100%;
		}
	}
}

.footer-linkus {
	float: left;
	width: 360px;
	padding-right: 40px;

	h5 {
		font-size: 16px;
	}

	p {
		position: relative;
		padding-left: 5em;
		height: 16px;
		margin: 10px 0;
		line-height: 1.25;
		color: #8c9196;
		font-size: 14px;

		a, label {
			position: absolute;
			left: 0;
			display: block;
			cursor: pointer;
		}
	}
}

.footer-about {
	width: 190px;
}

.footer-qrcode {
	@extend %clearfix;
	float: left;
	width: 260px;
	color: #599c29;
}

.footer-qrcode-block {
	float: left;
	font-size: 12px;
	text-align: center;

	&:last-child {
		float: right;
	}

	img {
		width: 120px;
	}
}

.footer-bottom {
	line-height: 60px;
	background-color: #13171a;
	text-align: center;
	color: #8c9196;
	font-size: 12px;
}