@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.join-block {
	@extend %clearfix;
	width: $minW;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
	line-height: 1.75;

	h2 {
		line-height: 60px;
		font-size: 16px;
		color: #333;
		border-bottom: 1px dashed #000;
	}

	& > div {
		float: left;
		width: 50%;
		padding: 20px 0;
	}

	p {
    font-size: 16px;
	}

	ul {
		padding-left: 20px;
	}

	li {
		padding-right: 80px;
		text-align: justify;
    list-style-type: decimal;
	}
}

