<!-- 
	头部
 -->

<div class="header" id="header">
	<div class="header-header">
		<div class="header-header-content">
			<a class="tel">400-600-0990</a>
			<ul>
				<li class="weixin">
				</li>
				<li class="weibo">
				</li>
			</ul>
		</div>
	</div>

	<div class="header-content">
		<h1 class="logo">
			<a href="index.html">
				<img src="./img/header/logo.png" alt="logo">
			</a>
		</h1>

		<ul class="menu">
			<li :class="{'active': item.link == menuActive }" @click="goPage(item.link)" v-for="item in menus" :key="item.link">{{ item.name }}
				<ul v-if="item.list.length > 0" class="menu-child">
					<li @click.stop="goPage(it.link)" v-for="it in item.list" :key="it.link">{{ it.name }}</li>
				</ul>
			</li>
		</ul>
	</div>

	<a href="https://patient.drelephant.com/index" target="_blank" class="index-frame">
		<img src="./img/index/frame.png" alt="">
	</a>
</div>

<script>
	(function(){
		var vm = new Vue({
		  el: '#header',
		  data: {
		  	menus: [
		  		{
		  			name: '首页',
		  			link: 'index',
		  			list: []
		  		},{
		  			name: '远程医疗',
		  			link: 'medical',
		  			list: []
		  		},{
		  			name: '远程影像',
		  			link: 'shadow',
		  			list: []
		  		},{
		  			name: '大象名医',
		  			link: 'doctor',
		  			list: []
		  		},{
		  			name: '关于我们',
		  			link: 'aboutUs',
		  			list: [
		  				{
		  					name: '关于大象医疗',
		  					link: 'about'
		  				},{
		  					name: '加入我们',
		  					link: 'join'
		  				}
		  			]
		  		},{
		  			name: '新闻资讯',
		  			link: 'news',
		  			list: []
		  		}
		  	],
		  },
		  computed: {
		  	menuActive () {
		  		var data = 'index';

		  		this.menus.map(function(item, index){
		  			if(item.name == document.title) {
		  				data = item.link;
		  				return;
		  			} else if(document.title == '关于大象医疗') {
		  				data = 'aboutUs';
		  				return;
		  			} else if(document.title == '加入我们') {
		  				data = 'aboutUs';
		  				return;
		  			} else if(document.title == '案例展示') {
		  				data = 'medical';
		  				return;
		  			}
		  		});

		  		return data;
		  	}
		  },
		  methods: {
		  	goPage (url) {
		  		if(url != 'aboutUs')
		  			location.href = url + '.html';
		  	}
		  }
		})	
	})()
</script>